@import '../abstract/variaveis';

html, body {
    font-family: $font;   
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
} 

body {
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: $tablet) {
    body {
        max-width: $tablet;
    }
}

@media screen and (max-width: $mobile) {
    body {
        max-width: $mobile;
    }
}