@import '../abstract/variaveis';

main {   
    #header {
        position: relative;
        padding: 110px 0 80px 135px;
        .text {
            width: 467px;
            height: 548px;
            h1{
                font-weight: 700;
                line-height: 100px;
                letter-spacing: -1px;
                padding-bottom: 40px;
                font-size: 84px;
                color: $dark-blue;
            }
            .text-body {
                color: $text-color;
                width: 367px;
                font-weight: 400;
                font-size: $font-size-desktop;
                line-height: 32px;
            }
            .btn-recent-work {
                font-weight: 700;
                font-size: 18px;
                display: flex;
                margin: 48px 0 0;
                background: $light-blue;
                color: white;
                border-radius: 8px;
                width: 180px;
                height: 64px;   
                text-align: center;
                align-items: center;
                justify-content: center;
                cursor: pointer;   
                transition: 0.7s;           
            }
            .btn-recent-work:hover {
                background: $dark-blue;
                color: $light-blue;
                transition: 0.5s;
            }
        }    
        .imgs {
            .fundo {                
            position: absolute;  
            width: 570px;
            height: 722px;
            right: 135px;
            top: 94px;
            }
            .fundo-pc {
                position: absolute; 
                width: 924px;
                height: 660px;
                right: 110px;
                top: 156px;
            }
            .fundo-line{
                z-index: -1;
                position: absolute;
                height: 819.24658203125px;
                width: 642.2090454101562px;
                left: 322px;
                top: -129px;
            }
        }
        .btn-scroll {
            display: flex;
            padding-top: 110px; 
            align-items: center;
            .btn{
                display: flex;
                align-items: center;
                transition: 1s;
                .arrow {                    
                    width: 48px;
                    height: 48px;
                }
                p {
                    font-weight: 600;
                    font-size: 18px;    
                    padding-left: 16px;
                    color: $text-color;
                }
                p, img {
                    cursor: pointer;
                }
            }
            .btn:hover {
                transform: scale(1.2,1.2);
                transition: 1s;
                p {                    
                color: $light-blue;
                }              
            }
        }
    }


    #whoweare {
        background: #232340;
        position: relative;
        height: 1670px;
        .line {
            position: absolute;
            top: 0px;
            left: 0px;
            
        }
        .bg-dark {
            position: absolute;
            right: 0px;
            top: -40px;
            z-index: 0;
        }
        .top-1 {
            height: 448px;
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            margin: 0 135px;
            .symbol {
                align-self: flex-start;
                padding-top: 128px;
                height: 24px;
                width: 24px;
            }
            .titles {
                z-index: 0;
                width: 668px;
                height: 144px;
                padding-top: 128px;                
                .title-1 {
                    display: flex;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 24px;
                    p:nth-child(1) {
                        color: #8B8B8B;
                        padding-right: 24px;
                    } 
                    p:nth-child(2) {
                        color: #FFFFFF;
                    }             
                }                 
                h2 {
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 72px;
                    letter-spacing: -0.5px;
                }   
            }
            .arrows {    
                display: flex;
                padding-top: 176px;
                z-index: 0;
                .left {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                    cursor: pointer;
                }
                .left:hover {
                    transition: 0.5s;
                    background: #5468E7;
                }
                .right {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                    margin-left: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                    cursor: pointer;
                    .arrow-right {
                        transform: scaleX(-1);                    
                    }
                }
                .right:hover {
                    transition: 0.5s;
                    background: #5468E7;
                }
            }
        }
        .middle-1 {
            display: flex;
            justify-content: space-between;
            padding: 0 135px;
            .years {
                ul {
                    width: 45px;
                    height: 528px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li {
                        z-index: 1;
                        color: #8B8B8B;
                        cursor: pointer;
                        transition: 0.5s;
                        img {
                            transition: 0.5s;
                            display: none;
                        }
                    }
                    li:hover {
                        display: flex;
                        color: #FFFFFF;
                        transition: 0.5s;
                        img {
                            display: flex;
                            padding-left: 21px;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .img-years {
                position: absolute;
                left: 335px;
                top: 400px;
            }    
        }
        .down-1 {
            padding: 0 135px 128px 135px;
            display: flex;
            justify-content: space-between;
            .box-left {
                display: flex;
                width: 668px;
                height: 320px;   
                padding-top: 205px;             
                .bar {
                    margin-right: 198px;
                    width: 2px;
                    height: 80px;
                    background: #F1B2CC;
                }
                .text-1 {     
                    h1 {
                        padding-bottom: 40px;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                        letter-spacing: -0.5px;
                        color: #FFFFFF;
                    }              
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        color: #8B8B8B;

                    }
                    .contact-us {
                        font-weight: 700;
                        font-size: 18px;
                        display: flex;
                        margin: 40px 0 0;
                        background: $light-blue;
                        color: white;
                        border-radius: 8px;
                        width: 180px;
                        height: 64px;   
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;   
                        transition: 0.7s;           
                    }
                    .contact-us:hover {
                        background: white;
                        color: $light-blue;
                        transition: 0.5s;
                    }
                }
                
            }
            .date {
                text-align: center;
                color: #FFFFFF;
                padding-top: 228px;
                .number-date {
                    font-weight: 600;
                    font-size: 200px;
                    line-height: 239px;
                }
                .text-date {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: -0.2px;
                }
            }
        }
    }


    #services {
        height: 2124px;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
        position: relative;
        .line1 {
            position: absolute;
            top: 0px;
            left: 114px;
            z-index: -1;
            opacity: 0.9;
        }
        .line2 {
            position: absolute;
            top: 941px;
            left: 922px;
            z-index: -1;
            opacity: 0.3;
        }
        .top-2 {
            height: 192px;
            display: flex;
            justify-content: space-between;
            padding: 152px 135px 96px ;
            .symbol {
                height: 24px;
                width: 24px;
                margin-right: 176px;
            }
            .titles {
                z-index: 0;
                width: 668px;
                height: 192px;
                flex-grow: 1;
                padding-right: 158px;
                color: #5468E7;               
                .title-1 {
                    display: flex;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 24px;
                    p:nth-child(1) {
                        padding-right: 24px;
                    } 
                }                 
                h2 {
                    color: #232340;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 72px;
                    letter-spacing: -0.5px;
                }   
            }
            .arrows {    
                display: flex;
                z-index: 0;
                margin-top: 48px;
                .left {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                    cursor: pointer;
                    .arrow-right {
                        display: none;
                    }
                }
                .left:hover {
                    background: #5468E7;
                    transition: 0.5s;
                    .arrow-left {
                        display: none;
                    }
                    .arrow-right {
                        display: flex;
                        transform:rotate(180deg);
                    }

                }
                .right {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 16px;
                    transition: 0.5s;
                    cursor: pointer;
                    .arrow-right {
                        display: none;
                    }
                    .arrow-left {
                        transform:rotate(180deg);
                    }
                }
                .right:hover {
                    background: #5468E7;
                    transition: 0.5s;
                    .arrow-left {
                        display: none;
                    }
                    .arrow-right {
                        display: flex;
                    }
                }
            }
        }
        .middle-2 {
            width: 1170px;
            height: 584px;
            margin: 0 135px 185px;
            .cards {
                display: flex; 
                .box {
                    margin: 40px 0 64px 0;
                    width: 293px;
                    height: 480px;
                    background: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    transition: 0.5s; 
                    .content {
                        margin-top: 140px;
                        height: 200px;
                        width: 180px;
                        text-align: center;
                        img {
                            height: 128px;
                            width: 128px;
                            margin-bottom: 40px;
                        }
                        p {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: center;
                            letter-spacing: -0.2px;
                            color: #5468E7;
                        }
                    }
                }                   
                .box:first-child {                    
                    border-radius: 48px 0 0 48px;
                }
                .box:last-child {
                    border-radius: 0 48px 48px 0;
                }
                .box:hover {
                    margin: 0;
                    width: 293px;
                    height: 560px;
                    background: #5468E7;  
                    border-radius: 48px;
                    transition: 0.5s; 
                    .content {
                        margin-top: 180px;
                        p {
                            color: #FFFFFF;
                        }
                    }                                             
                }
            }
        }
        .down-2 {
            height: 786px;
            padding-bottom: 129px;
            .container {
                margin: 0 135px;
                display: flex;
                .phone {
                    text-align: center;
                    margin-right: 135px;
                    margin-top: 146px;
                    .oval {
                        width: 467px;
                        height: 467px;
                        margin-bottom: 157px;
                        border-radius: 50%;
                        background: #FFC7DF;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        img {
                            margin-right: 6.94px;
                        }
                    }    
                    .pagination {
                        display: flex;
                        justify-content: center;
                        .dot {
                            cursor: pointer;
                            img:last-child {
                                display: none;
                            }                            
                        }
                        .dot:hover {
                            img:first-child {
                                display: none;
                            } 
                            img:last-child {
                                display: flex;
                            }     

                        }
                        .dot:nth-child(2) {
                            margin: 0 24px;
                        }
                    }               
                }
                .text-2 {
                    margin-top: 132px;
                    .title-1 {
                        display: flex;
                        margin-bottom: 40px;
                        .symbol {
                            margin-right: 75px;
                        }
                        p {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 24px;
                            color: #232340;
                        }
                        p:nth-child(2) {
                            margin-right: 24px; 
                            color: #8B8B8B;                       
                        }                        
                    }
                    .title-2 {
                        height: 80px;
                        margin-bottom: 80px;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                        letter-spacing: -0.5px;
                        color: #000000;
                    }
                    .projects {
                        width: 256px;
                        height: 270px;
                        p {
                            font-weight: 600;
                            font-size: 200px;
                            line-height: 239px;
                            color: #5468E7; 
                            margin-bottom: 31px;                           
                        }
                        h2 {
                            display: flex;
                            justify-content: space-between;
                            width: 255px;
                            height: 32px;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: -0.2px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }


    #works {
        margin-top: 53px;
        height: 3232px;
        .top {
            height: 252px;
            display: flex;
            justify-content: space-between;
            padding: 0 135px 227px;
            .symbol {
                height: 24px;
                width: 24px;
                margin-right: 176px;
            }
            .titles {
                z-index: 0;
                width: 668px;
                height: 252px;
                padding-right: 136px;
                color: #5468E7;               
                .title-1 {
                    display: flex;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 24px;
                    p:nth-child(1) {
                        padding-right: 24px;
                    } 
                }                 
                h2 {
                    font-weight: 700;
                    font-size: 84px;
                    line-height: 100px;
                    letter-spacing: -1px;
                    color: #232340;
                    margin-bottom: 40px;
                }   
                p:nth-child(3){
                    width: 467px;
                    height: 64px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #606060;
                }
            }
            .btn-recent-work {
                font-weight: 700;
                font-size: 18px;
                display: flex;
                margin-top: 49px;
                background: $light-blue;
                color: white;
                border-radius: 8px;
                width: 180px;
                height: 64px;   
                text-align: center;
                align-items: center;
                justify-content: center;
                cursor: pointer;   
                transition: 0.7s;           
            }
            .btn-recent-work:hover {
                background: $dark-blue;
                color: $light-blue;
                transition: 0.5s;
            }
        }
        .featured {
            display: flex;
            justify-content: space-between;
            height: 443px;
            width: 1001px;
            margin: 0 304px 150px 135px;
            .box {
                img {
                    z-index: -1;
                    position: absolute;
                    left: 24px;
                    top: 5026px;
                }
                .btn-feature {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 166px;
                    border-radius: 20px;
                    background: #908CFF;
                    border-radius: 20px;
                    margin-bottom: 24px;
                    
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                    transition: 0.5s;
                    cursor: pointer;
                }
                .btn-feature:hover {
                    background: $dark-blue;
                    transition: 0.5s;
                }
                .text { 
                    h4 {
                        width: 467px;
                        height: 96px;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 48px;
                        letter-spacing: -0.4px;
                        color: #000000;
                        margin-bottom: 32px;
                    }
                    p {
                        width: 205px;
                        height: 160px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        color: #606060;
                        margin-bottom: 18px;
                    }
                }
                .btn-view {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    background: #232340;
                    margin-left: 360px;
                    
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    z-index: 1;
                    transition: 0.5s;
                    cursor: pointer;
                }                
                .btn-view:hover {
                    background: $light-blue;
                    transition: 0.5s;
                }
            }
            .right {
                background: #5468E7;
                border-radius: 50%;
                height: 64px;
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 97px;
            }
            .right:hover {
                cursor: pointer;
                transition: 0.5s;
                background: $dark-blue;
            }
        }
        .cards {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 46px;
            position: relative;
            .line1 {
                position: absolute;
                left: 25.68px;
                top: -412.41px;    
                z-index: -1;
            }
            .line2 {
                position: absolute;
                left: 491px;
                top: 773px;    
                z-index: -1;  
            }
            .titles {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -0.4px;
                color: #232340;
                margin-bottom: 40px;
            }
            .text {
                width: 366px;
                height: 96px;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: #606060;
                margin-top: 40px;
            }
            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 2px solid #232340;
                transition: 0.5s;
                cursor: pointer;
            }
            .arrow:hover {
                transition: 0.5s;
                transform: scale(1.5);
            }
            .right {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: end;
                .vol-2 {
                    position: relative;
                    margin: 0 35px 415px 0; 
                    width: 467px;
                    height: 604px;

                    .img {
                        position: relative;
                        img {
                            position: absolute;
                            width: 750px;
                            height: 536px;
                            top: -446px;
                            left: -339px;
                        }
                    }
                    .bg-purple {
                        width: 366px;
                        height: 380px;
                        background: #E8BEFF;
                        border-radius: 24px;
                    }
                    .arrow {
                        position: absolute;
                        right: 66px;
                        top: 342px;
                    }
                }
                .vol-3 {
                    width: 467px;
                    height: 730px;
                    margin: 0 236px 365px 0;  
                    position: relative; 
                    .bg-blue {
                        width: 467px;
                        height: 506px;
                        background: #D1ECFD;
                        border-radius: 24px;
                    } 
                    .img {
                        position: relative;
                        img {
                            top: -468px;
                            left: -100px;
                            position: absolute;
                            width: 679px;
                            height: 485px;                            
                        }
                    }     
                    .arrow {
                        position: absolute;
                        left: 435px;
                        top: 446px;
                    }         
                }
            }
            .left {
                width: 50%;
                display: flex;
                flex-direction: column;
                .bento-3d {
                    position: relative;
                    width: 631px;
                    height: 724px;
                    margin: 341px 0 365px 55px;
                    .bg-orange {
                        width: 470px;
                        height: 500px;
                        background: #FFCE79;
                        border-radius: 24px;
                    }
                    .img {
                        position: relative;
                        img {
                            position: absolute;
                            top: -467px;
                            left: -78px;
                        }
                    }                         
                    .arrow {
                        position: absolute;
                        left: 438px;
                        top: 468px;
                    }   
                }
                .sapiens {
                    position: relative;
                    width: 398px;
                    height: 730px;
                    margin-left: 235px;
                    .bg-pink {
                        width: 366px;
                        height: 506px;
                        background: #FFADD0;
                        border-radius: 24px;
                    }
                    .img {
                        position: relative;
                        img {
                            position: absolute;
                            bottom: 66px;                            
                        }
                    }
                    .arrow {
                        position: absolute;
                        top: 466px;
                        left: 334px;

                    }
                }
            }
        }
    }


    #cta {
        width: 1440px;
        height: 976px;
        .cta {
            position: relative;
            width: 1296px;
            height: 720px;
            margin: 128px 72px;
            .imgs {
                img {
                    position: absolute;
                    z-index: -1;
                }
                img:nth-child(1) {
                    width: 1169px;
                    height: 624px;
                    margin-top: 48px;
                    margin-left: 3px;
                }
                img:nth-child(2) {
                    width: 1169px;
                    height: 720px;
                    margin-left: 63px;
                }
                img:nth-child(3) {
                    width: 503px;
                    height: 624px;
                    margin-top: 48px;
                    margin-left: 803px;
                }
                .logo {
                    width: 40px;
                    height: 40px;
                    top: 152px;
                    left: 163px;
                }


            }
            .text {
                width: 367px;
                height: 452px;
                padding: 134px 264px 134px 665px;
                .title-1 {
                    display: flex;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                    p:nth-child(1) {
                        margin-right: 24px;
                    }
                }
                .title-2 {
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 72px;
                    letter-spacing: -0.5px;
                    color: #FFFFFF;
                    margin-bottom: 54px;
                }
                .btn-apply {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 201px;
                    height: 64px;
                    background: #FFFFFF;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #5468E7;
                    transition: 0.5s;
                    cursor: pointer;
                }
                .btn-apply:hover {
                    transition: 0.5s;
                    background: $dark-blue;
                    color: white;
                }
            }
        }
    }
    

    #jobs {
        width: 1440px;
        height: 1328px;
        display: flex;     
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);   
        position: relative;
        .line {
            left: 328px;
            top: 0px;
            position: absolute;
            z-index: -1;
        }
        .logo {
            width: 24px;
            height: 24px;
            margin: 128px 76px 0 135px;
        }
        .content {
            width: 468px;
            height: 436px;
            margin: 128px 34px 0 0;
            .tag {
                display: flex;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #5468E7;
                p:first-child {
                    margin-right: 23px;
                }
            }
            .jobs {
                h1 {
                    font-weight: 700;
                    font-size: 110px;
                    line-height: 131px;
                    letter-spacing: -1.2px;
                    color: #232340;
                    margin-bottom: 41px;
                }
                p {
                    width: 367px;
                    height: 96px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #606060;
                    margin-bottom: 72px;
                }
            }
            .btn-scroll {
                display: flex;
                align-items: center;
                width: 158px;
                height: 48px;
                .btn{
                    display: flex;
                    align-items: center;
                    transition: 1s;
                    .arrow {                    
                        width: 48px;
                        height: 48px;
                        transform: rotate(-90deg);
                    }
                    p {
                        width: 94px;
                        height: 48px;
                        left: 299px;
                        top: 9665px;
                        
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px; 
                        padding-left: 16px;
                        color: $text-color;
                    }
                    p, img {
                        cursor: pointer;
                    }
                }
                .btn:hover {
                    transform: scale(1.2,1.2);
                    transition: 1s;
                    p {                    
                    color: $light-blue;
                    }              
                }
            }
        }
        .jb-card {
            width: 568px;
            height: 1072px;
            margin-top: 128px;
            .card {
                display: flex;
                height: 247px;
                width: 568px;
                
                background: #FFFFFF;
                border-radius: 40px;
                margin-bottom: 21px;
                transition: 0.3s;
                .title {
                    margin: 64px 15px 0 64px;
                    height: 76px;
                    h2 {
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                        letter-spacing: -0.5px;
                        color: #232340;
                        margin-bottom: 4px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        color: #606060;
                        margin-bottom: 29px;
                    }
                    .arrow-l {
                        cursor: pointer;
                        display: none;
                    }
                }                
                .img-p {
                    display: none;
                }
                .notification {
                    margin-top: 68px;
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;

                    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);

                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                }
                
            }
            .card:hover {
                transition: 0.5s;
                background: #232340;
                .title {
                    width: 245px;
                    h2 {
                        color: #FFFFFF;
                    }
                }
                
                .img-p{
                    margin-top: 16px;
                    display:flex;
                }
                .arrow-l {
                    display: flex;
                }
                .arrow-d {
                    display: none;
                }
                .notification {
                    display: none;
                }
            }
        }


    }


    #contact {
        height: 1024px;
        display: flex;
        justify-content: center;
        position: relative;
        .line {
            left: 191px;
            top: 0px;
            position:absolute;
        }
        .bg {
            width: 1296px;
            height: 100%;
            background: #5468E7;
            border-radius: 40px;
            .top {
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
                .text {
                    width: 568px;
                    height: 208px;
                    text-align: center;
                    margin-top: 128px;
                    img {
                        margin-bottom: 40px;
                    }
                    p {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        color: #FFFFFF;
                        margin-bottom: 40px;
                        span {
                            margin-right: 12px;
                        }
                    }
                    h3 {
                        width: 568px;
                        height: 80px;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                        text-align: center;
                        letter-spacing: -0.5px;
                        color: #FFFFFF;
                    }
                }

            }
            .row {
                display: flex;
                height: 50%;
                .left {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    padding-top: 120px;
                    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.2);
                    .text {
                        width: 367px;
                        height: 216px;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 72px;
                        letter-spacing: -0.5px;
                        color: #FFFFFF;
                    }
                }
                .right {
                    width: 50%;
                    .box {
                        width: 465px;
                        height: 212px;
                        margin: 120px 0 0 117px;
                        img {
                            width: 103px;
                            height: 103px;
                            margin-bottom: 29px;
                        }
                        .text {
                            display: flex;
                            h5 {
                                width: 367px;
                                height: 80px;
                                font-weight: 700;
                                font-size: 32px;
                                line-height: 40px;
                                letter-spacing: -0.5px;
                                color: #FFFFFF;
                                margin-right: 34px;
                            }
                            .arrow {
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                border: 2px solid #FFFFFF;

                                position: relative;
                                transition: 0.5s;
                                img {
                                    position: absolute;
                                    width: 20px;
                                    height: 15px;
                                    top: 23px;
                                    left: 22px;
                                }
                            }
                            .arrow:hover {
                                transition: 0.5s;
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 491px;
    text-align: center;
    .line {
        position: absolute;
        left: 896px;
        top: 11558px;
        z-index: -1;
    }
    .content {
        width: 565px;
        height: 232px;
        padding: 128px 0 48px 438px; 
        img {
            width: 191px;
            height: 48px;
            margin-bottom: 48px;
        }
        p {
            width: 565px;
            height: 64px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            color: #606060;
            margin-bottom: 48px;
        }
        .menu {
            width: 392px;
            height: 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 87px 0 86px;
            li {
                width: 40px;
                height: 24px;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #8B8B8B;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #8B8B8B;
                    transition: 0.5s;
                }
                a:hover {
                    transition: 0.5s;
                    color: #5468E7;
                }
            }
        }
        
    }
    .bottom {
        width: 1170px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 135px;
        border-top: 2px solid #D8D8D8;
        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #ADADAD;
        }
        .right {
            display: flex;
            img {
                cursor: pointer;
                margin-left: 40px;
                width: 16px;
                height: 16px;
                transition: 0.5s;
            }
            img:hover {
                transition: 0.5s;
                transform: scale(1.5);
            }
            p {
                cursor: pointer;
                color: #5468E7;
            }
        }
    }

}

@media screen and (max-width: $tablet) {
    main {
        #header {
            padding: 73.49px 0 87px 107px;
            .text {
                width: 332px;
                height: 412px;
                h1{
                    line-height: 72px;
                    letter-spacing: -0.5px;
                    padding-bottom: 24px;
                    font-size: 64px;
                }
                .text-body {
                    color: $text-color;
                    width: 261px;
                    font-size: $font-size-tablet;
                    line-height: 28px;
                }
                .btn-recent-work {
                    display: flex;
                    margin: 32px 0 0;
                    width: 160px;
                    height: 56px;        
                }
            }    
            .imgs {
                .fundo {
                width: 405.33px;
                height: 513.42px;
                right: 135px;
                top: 94px;
                }
                .fundo-pc {
                    position: absolute; 
                    width: 602px;
                    height: 468px;
                    right: 117px;
                    top: 115px;
                }
                .fundo-line{
                    width: 456.68px;
                    height: 582.58px;                    
                    left: 245px;
                    top: -99px;
                }
            }
            .btn-scroll {
                padding-top: 56px; 
                .btn{                      
                    width: 150px;
                    height: 44px;           
                    .arrow {                    
                        width: 40px;
                        height: 40px;
                    }
                    span {
                        display: none;
                    }
                    p:after {
                        content: "Swipe down to explore";
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    main {   
        #header {
            padding: 0 32px 0px 32px;
            .text {
                width: 311px;
                height: 359px;
                h1{
                    line-height: 56px;
                    letter-spacing: -0.5px;
                    padding-bottom: 24px;
                    font-size: 48px;
                }
                .text-body {
                    color: $text-color;
                    width: 261px;
                    font-size: $font-size-tablet;
                    line-height: 28px;
                }
                .btn-recent-work {
                    display: flex;
                    margin: 24px 0 328px 0;
                    width: 160px;
                    height: 56px;        
                }
            }    
            .imgs {
                .fundo {
                width: 287px;
                height: 363.51px;
                right: -87px;
                top: 320px;
                }
                .fundo-pc {
                    position: absolute; 
                    width: 475px;
                    height: 368px;
                    right: -84px;
                    top: 334px;
                }
                .fundo-line{
                    width: 456.68px;
                    height: 582.58px;                    
                    left: 169px;
                    top: -141px;
                }
            }
            .btn-scroll {
                display: none;
            }
        }
    }
}