@import '../abstract/variaveis';

header {
    display: flex;
    align-items: center;
    padding: 64px 72px 0;
    .img-logo {
        cursor: pointer;
        width: 159px;
        height: 40px;
    }
    nav {
        padding: 0 272px 0 293px;
        flex-grow: 1;
        ul {
            font-size: $font-size-desktop;
            display: flex;
            justify-content: space-around;
            li {
                a {
                    display: flex;
                    color: $text-color;
                    font-weight: 600;
                    text-decoration: none;
                }
                .about {
                    color: $light-blue;
                }
                .jobs {                    
                position: relative;
                    img {
                        position: absolute;
                        height: 24px;
                        width: 24px;
                        top: -19px;
                        right: -31px;
                    }                
                }     
            }
        }
    }
    .btn-contact {
        display: flex;
        font-size: $font-size-desktop;
        background: $dark-blue;
        color: white;
        border-radius: 10px;
        width: 180px;
        height: 64px;   
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.7s;
    }
    .btn-contact:hover {
        background: $light-blue;
        color: $dark-blue;
        transition: 0.5s;
    }
}

@media screen and (max-width: $tablet) { 
    header {
        padding: 39.51px 50px 0;
        .img-logo {
            width: 127.2px;
            height: 32px;
        }
        nav {
            padding: 0 145px 0 146px;
            ul {
                font-size: $font-size-tablet;
                display: flex;
            }
        }
        .btn-contact {
            font-size: $font-size-tablet;
            width: 160px;
            height: 56px; 
        }
    }
}

@media screen and (max-width: $mobile) {
    header {
        padding: 52px 0 44px 32px;
        justify-content: space-between;
        .img-logo {
            width: 127.2px;
            height: 32px;
        }
        nav {
            display: none;
        }
        .btn-contact {
            display: none;
        }
        .menu {
            background-image: url("../../img/menu.png");
            height: 12px;
            width: 32px;
            margin-right: 32px;
            cursor: pointer;
        }
    }
}