@import '../abstract/variaveis';

body {
    width: 375px;
    height: 812px;
    background-color: #232340;
    font-family: $font;
}

header {
    display: flex;
    flex-direction: column;
    .line-dark {
        position: absolute;
        top: -3px;
        right: 1px;
        z-index: -1;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 128px;
        .img-logo {
            width: 127.2px;
            height: 32px;
            margin-left: 32px;
        }
        .x-icon {
            width: 32px;
            height: 32px;
            margin-right: 25.37px;
        }
    }

    nav {
        width: 122px;
        height: 280px;        
        padding:138px 221px 146px 32px;
        ul {
            display: flex;
            flex-direction: column;
            li {
                padding-bottom: 40px;
                a {                
                    font-weight: 700;
                    font-size: 32px;
                    text-decoration: none;
                    color: #595976;
                }
            }
            li:nth-child(2) {
                order: -1;
                a{
                    color: #FFFFFF;
                }
            }
        }
    }

    .social {
        display: flex;
        justify-content: space-between;
        padding: 0 145px 80px 46px;
        .facebook, .instagram, .youtube {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid #595976;
            border-radius: 50%;
        }
    }
}


