// Fonte
$font: 'SF Pro Display', sans-serif;
$font-size-desktop: 18px;
$font-size-tablet: 16px;

// Cores
$dark-blue: #232340;
$light-blue: #5468E7;
$text-color: #8B8B8B;

// Screen size
$tablet:1024px;
$mobile:375px;